<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="HiTechDBConnection" connectionString="Data Source = DESKTOP-QMF9L0P\SQLEXPRESS; Initial Catalog= HiTech;User Id = edwardb; Password= 1234" />
    <add name="Hi_TechDistribution.Properties.Settings.HiTechConnectionString"
      connectionString="Data Source=DESKTOP-QMF9L0P\SQLEXPRESS;Initial Catalog=HiTech;User ID=edwardb;Password=1234!"
      providerName="System.Data.SqlClient" />
    <add name="HiTechEntities" connectionString="metadata=res://*/EntityFramework.HiTechModel.csdl|res://*/EntityFramework.HiTechModel.ssdl|res://*/EntityFramework.HiTechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QMF9L0P\SQLEXPRESS;initial catalog=HiTech;persist security info=True;user id=edwardb;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="HiTechEntities1" connectionString="metadata=res://*/EntityDB.HiTechModel.csdl|res://*/EntityDB.HiTechModel.ssdl|res://*/EntityDB.HiTechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QMF9L0P\SQLEXPRESS;initial catalog=HiTech;persist security info=True;user id=edwardb;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>